*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/
/application/config/developmentx/
/application/config/production/database.php
/application/controllers/Tester.php
/application/views/test/